body {
  height: 100%;
  margin: 0;
  background: linear-gradient(#ff8487, #ffff99)
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}
